body {
  color: #EDEDED;
  background-color: #1C2329;
  text-align: center;
}

button {
  margin-top: .5rem;
}

h4 {
  margin-top: .5rem;
}

#status {
  max-width: 30rem;
  margin: auto;
  background-color: #252F38;
  border-radius: 0.2em;
}

#state span {
  display: list-item;
  list-style: none;
}

em {
  display: block;
}

.disappearing {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
