$def with (cacheBust)
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pretty Lights</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/bootstrap.min.css" />
    <link rel="stylesheet" href="static/styles.css?v=$cacheBust" />
  </head>
  <body>
      <div class="container">
      <h1>Pretty Lights</h1>

      <div>
          <input type="color" id="custom-color" name="head" value="#FF69B4">
          <label for="head">Custom Colour</label>
      </div>

      <div id="single-colors">
        <h3>Single Colour</h3>
        <button type="button" class="btn btn-light" colors="Fuchsia">Fuchsia</button>
        <button type="button" class="btn btn-light" colors="MediumTurquoise">Medium Turquoise</button>
        <button type="button" class="btn btn-light" colors="Lime">Lime</button>
        <button type="button" class="btn btn-light" colors="RebeccaPurple">Rebecca Purple</button>
        <button type="button" class="btn btn-light" colors="DeepPink">Deep Pink</button>
        <button type="button" class="btn btn-light" colors="Crimson">Crimson</button>
        <button type="button" class="btn btn-light" colors="LawnGreen">Lawn Green</button>
        <button type="button" class="btn btn-light" colors="Khaki">Khaki</button>
        <button type="button" class="btn btn-light" colors="LightSalmon">Light Salmon</button>
        <button type="button" class="btn btn-light" colors="Tomato">Tomato</button>
        <button type="button" class="btn btn-light" colors="MediumSpringGreen">Medium Spring Green</button>
        <button type="button" class="btn btn-light" colors="MistyRose">Misty Rose</button>
        <button id="random" type="button" class="btn btn-light">Random</button>
      </div>

      <div id="bar-colors">
        <h3>Multicolour</h3>
        <button type="button" class="btn btn-light" colors="#E40303,#FF8C00,#FFED00,#008026,#004DFF,#750787">Gay</button>
        <button type="button" class="btn btn-light" colors="#0038a8,#9b4f96,#d60270">Bisexual</button>
        <button type="button" class="btn btn-light" colors="#ff3c00,#ee00ff" multiplier="2">Spooky</button>
        <button type="button" class="btn btn-light" colors="white,black,white,black,white,black">7 Nation Army</button>
        <button id="random-multicolored" type="button" class="btn btn-light">Random Gradient</button>
        <button id="random-multicolored-bars" type="button" class="btn btn-light">Random Bars</button>
      </div>

      <div id="animated">
        <h3>Animated</h3>
        <button type="button" class="btn btn-light" animation="heartbeat">Heatbeat</button>
        <button type="button" class="btn btn-light" animation="color-rotation">Color Rotation</button>
        <button type="button" class="btn btn-light" animation="rainbow">Rainbow</button>
        <button type="button" class="btn btn-light" animation="rainfall">Rainfall</button>
        <button type="button" class="btn btn-light" animation="rainbow-columns">Rainbow Columns</button>
      </div>

      <div>
        <h3>Boring</h3>
        <button type="button" class="btn btn-light" colors="white">On</button>
        <button type="button" class="btn btn-light" colors="black">Off</button>
      </div>

      <h5>Status</h5>
      <div id="status"></div>
    </div>

    <script src="static/chroma.min.js" type="text/javascript"></script>
    <script src="static/scripts.js?v=$cacheBust" type="text/javascript"></script>
  </body>
</html>
