$def with ()
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pretty Lights</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/bootstrap.min.css" />
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
      <div class="container">
      <h1>Pretty Lights</h1>

      <div>
          <input type="color" id="custom-color" name="head" value="#FF69B4">
          <label for="head">Custom Colour</label>
      </div>

      <div>
        <button type="button" class="btn btn-light" color="blue">Blue</button>
        <button type="button" class="btn btn-light" color="red">Red</button>
        <button type="button" class="btn btn-light" color="Fuchsia">Fuchsia</button>
        <button type="button" class="btn btn-light" color="Lime">Lime</button>
        <button type="button" class="btn btn-light" color="RebeccaPurple">RebeccaPurple</button>
        <button type="button" class="btn btn-light" color="DeepPink">DeepPink</button>
        <button type="button" class="btn btn-light" color="SeaGreen">SeaGreen</button>
      </div>

      <div>
        <button type="button" class="btn btn-light" color="black">Off</button>
      </div>

      <h5>Status</h5>
      <div id="status"></div>
    </div>

    <script src="static/chroma.min.js" type="text/javascript"></script>
    <script src="static/scripts.js" type="text/javascript"></script>
  </body>
</html>
